/*
* @Author: 18634746074
* @Date:   2018-08-30 23:14:10
* @Last Modified by:   18634746074
* @Last Modified time: 2018-09-06 18:53:04
*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "苹方";
}
a{
    text-decoration: none;
}
i{
    font-style: normal;
}
a:hover{
    text-decoration: none;
}
header{
    width: 100%;
    height: 264px;
    background-image: url('../img/rmjd.jpg');
    background-position: center ;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
header .zz{
    width: 100%;
    height: 264px;
    background:rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
}
header .pad{
    width: 100%;
    height: 92px;
    /* padding:0  150px; */
    /* background-color: red; */
    position: relative;
}
header .pad img{
    width: 159px;
    height: 64px;
    /* position: absolute;
    bottom: 15px;
    left: 150px; */
    margin-left: 150px;
    margin-top: 15px;
}
header .pad .mid{
    float: left;
    height: 28px;
    /* width: 910px; */
    /* background:yellow; */
    margin-left: 311px;
    position: absolute;
    bottom:22px;

}
header .pad .mid ul li{
    font-size: 14px;
    color: #ffffff;
    line-height: 28px;
    float: left;
    margin-left: 50px;
    cursor: pointer;

}
header .pad .rig{
    width: 150px;
    height: 28px;
    /* background-color: pink; */
    float: right;
    margin-top: 46px;
    color: #ffffff;
    font-size: 14px;
    position: relative;
    margin-right: 160px;
    /* padding: 0 20px; */
}
header .pad .rig .pic1{
    width: 18px;
    height:18px;
    background-image: url('../img/dl.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 2px;
    left: 40px;
}
header .pad .rig .pic2{
    width: 16px;
    height:16px;
    background-image: url('../img/zc.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 2px;
    right:30px;
}
header .pad .rig ul li{
    float: right;
    margin-left: 18px;
    cursor: pointer;

}
header .pad .rig ul li a{
    color: #fff;
}
header .pad .mid ul li a{
    color: #ffffff;
}
header .yc{
    width: 100%;
    height: 44px;
    background-color:#e04f67;
    font-size: 14px;
    text-align: center;
    line-height: 44px;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;

}
header .pad{
    display: none;
}
 header .wenzi1{
        width: 100%;
        height: 42px;
      /*   background: red; */
        font-size:20px;
        color: white;
        text-align: center;
        margin-top: 130px;

}
header .wenzi2{
    width: 100%;
    height: 34px;
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    color: #fff;
}
.section1{
    width: 100%;
    height: 144px;
    background: #f7f7f7;
}
.section1 .section2{
    width: 100%;
    height: 36px;
    color: rgb(89, 89, 89);
    font-size: 24px;
    text-align: center;
    line-height: 144px;
}
.section1 .section3{
     width: 100%;
    height: 25px;
    color: rgb(169, 169, 169);
    font-size: 16px;
    text-align: center;
    line-height: 150px;
}
.con{
    width: 100%;
    height: 292px;
    background-color: #f7f7f7;
    /* display: flex;
    justify-content: space-around; */

}
.con ul{
    display: flex;
    flex-direction: row;
   /*  display: block; */
}
 .row{
    margin-right: 0;
}
.con ul li{
    width: 100px;
    height: 34px;
   /*  background-color: yellow; */
    /* margin-right: 6px; */
    border: 1px solid #cecece ;
    padding:10px 20px 10px 20px;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    cursor: pointer;
}
.con ul li a{
    color: #8e8e8e;
}
.con ul li a:hover{
    color: #ea5d70;
}
.con ul li:hover{
    background: #ffffff;
    color: #ea5d70;
    border: 1px solid #ea5d70;
}
.con ul li:hover a{
    color: #ea5d70;
}
.contant{
    width: 100%;
    padding: 0 55px;
    display: block;
    background-color:#f7f7f7;
    overflow: hidden;
    padding-bottom: 50px;
  
}
.contant ul{
	margin-bottom: 0;
}
.contant ul li{
    height: 333px;
    background-color: #ffffff;
    margin-bottom: 46px;
   /*  border-right: 5px solid #f7f7f7;  */
    box-shadow: 0px 1px 20px 0px #f1efef;
    position: relative;
    cursor: pointer;


}
.contant ul li:nth-child(9){
    margin-bottom: 0;
}
.contant ul li .box{
    width: 450px;
    height: 260px;
    background-color: green;
    margin: 0 auto;
}
.contant ul li h5{
    font-size: 16px;
    color: #333333;
    text-align: center;
}
.contant ul li h6{
    font-size: 13px;
    color: #afafaf;
    text-align: center;
}
.contant ul li .cover{
   width: 709px;
   height: 0px;
   background-color: rgba(255, 255, 255, 0.4);
   position: absolute;
   top: 0;
   left: 0;
  /*  display: none; */
  transition: all 1s;
}
.contant ul li:hover .cover{
    /* display: inline; */
    height: 333px;
    
}
footer{
    width: 100%;
    height: 182px;
    /* background-color: pink; */
    margin-top: 60px;
    padding: 0 10px;
    /* display: flex;
    justify-content: space-between; */
}
footer ul li{
    width: 195px;
    height: 158px;
    /* background-color: orange; */
    /*margin-right: 10px;*/
    /*float: left;*/
    padding-left: 20px;
    margin-top: 20px;
}
footer ul li:nth-child(1){
    height: 58px;

}
footer ul li:nth-child(1) span{
    color: #808080;
    font-size: 20px;
    font-weight: 700;
}
footer ul li:nth-child(1) h6{
    color: #A9A9A9;
    font-size: 14px;
    font-weight: 700;
}
footer ul li dt{
    color: #808080;
    font-size: 100%;
    margin-top: 5px;
    margin-bottom: 25px;
}
footer ul li dd{
    color:#A9A9A9;
    font-size: 13px;
    margin-bottom: 8px;

}
footer ul li:nth-child(3){
    padding-top: 50px;
}
footer ul li:nth-child(4){
    color: #808080;
    /* font-size: 16px; */
}
footer ul li:nth-child(4) h6{
    font-size: 14px;
}
footer ul li:nth-child(4) img{
    width: 112px;
    height: 112px;
    margin-top: 20px;
}
footer ul li:nth-child(5){
    width: 100%;
    /* margin: 0 auto; */
    padding-top: 20px;
    /*padding-left: 368px;*/
    height: 68px;
}
footer ul li:nth-child(5) .con{
    width: 130px;
    height: 30px;
    margin: 0 auto;
}
footer ul li:nth-child(5) dd{
    width: 24px;
    height: 24px;
    /* background-color: yellow; */
    float: left;
    margin-right: 8px;
}
footer ul li:nth-child(5) .section1{
    background-image: url('../img/tubiao2.png');
    background-position: -96px -48px;

}
footer ul li:nth-child(5) .section2{
    background-image: url('../img/tubiao2.png');
    background-position: -192px -48px;

}
footer ul li:nth-child(5) .section3{
    background-image: url('../img/tubiao2.png');
    background-position: -240px -48px;

}
footer ul li:nth-child(5) .section4{
    background-image: url('../img/tubiao2.png');
    background-position: -120px -48px;

}
@media screen and (min-width: 568px){
    .con{
    width: 100%;
    height: 54px;
    /* background-color: pink; */
    display: flex;
    justify-content: space-around;

}
.con ul li{
    width: 100px;
    height: 34px;
    margin-right: 6px;
}
    }
@media screen and (min-width: 768px){
	 .con{
        height: 292px;
    }
    .con ul{
    display: flex;
    flex-direction: column;    
}
    .con ul li{
        margin: 0 auto;
        margin-bottom: 15px;
    }
}
@media screen and (min-width: 992px){
	 header .yc{
        display: none;
    }
    header{
        height: 420px;
        background-image: url('../img/rmjd.jpg');
        background-position: center ;
        background-size: cover;
      /*   background: rgba(0,0,0,0); */

    }
    header .zz{
        height: 420px;
    }
    header .pad{
        display: inline;
        float: left;

    }
    header .wenzi1{
        width: 100%;
        height: 48px;
        font-size:36px;
        color: #fff;
        text-align: center;
        margin-top: 190px;

    }
    header .wenzi2{
        height: 34px;
    }
    .con{
        height: 54px;
    }
    .con ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;

    }
    .con ul li{
        margin:0;
        margin-left: 20px;
    }

	footer{
    height: 192px;
        margin-top: -10px;
       padding:0 290px;
    }
    footer ul li{
       float: left;
    }
    footer ul li:nth-child(1){
        height: 158px;
    }
    footer ul li:nth-child(5){
        width:158px;
        padding-left: 0;
    }
}
@media screen and (min-width: 1200px){
	 .con{
        height: 54px;
    }
    .con ul{
    display: flex;
    flex-direction: row;
}