/*
* @Author: 18634746074
* @Date:   2018-08-25 10:39:10
* @Last Modified by:   18634746074
* @Last Modified time: 2018-09-07 00:24:46
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: "苹方";
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
a:hover{
	text-decoration: none;
}
header{
	width: 100%;
	height: 420px;
/* 	background-color: green; */
	background-image: url('../img/dl.jpg');
	background-position: center ;
	background-size: cover;
	overflow: hidden;
}
header .zz{
    width: 100%;
    height: 420px;
    background:rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
}
header .pad{
	width: 100%;
	height: 92px;
	/* padding:0  150px; */
	/* background-color: red; */
	position: relative;
}
header .pad img{
	width: 159px;
	height: 64px;
	/* position: absolute;
	bottom: 15px;
	left: 150px; */
	margin-left: 150px;
	margin-top: 15px;
}
header .pad .mid{
	float: left;
	height: 28px;
	/* width: 910px; */
	/* background:yellow; */
	margin-left: 311px;
	position: absolute;
	bottom:22px;

}
header .pad .mid ul li{
	font-size: 14px;
	color: #ffffff;
	line-height: 28px;
	float: left;
	margin-left: 50px;
	cursor: pointer;

}
header .pad .rig{
	width: 150px;
	height: 28px;
	/* background-color: pink; */
	float: right;
	margin-top: 46px;
	color: #ffffff;
	font-size: 14px;
	position: relative;
	margin-right: 160px;
	/* padding: 0 20px; */
}
header .pad .rig .pic1{
	width: 18px;
	height:18px;
	background-image: url('../img/dl.png');
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 2px;
	left: 40px;
}
header .pad .rig .pic2{
	width: 16px;
	height:16px;
	background-image: url('../img/zc.png');
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 2px;
	right:30px;
}
header .pad .rig ul li{
	float: right;
	margin-left: 18px;
	cursor: pointer;
	
}
header .pad .rig ul li a{
	color: #ffffff;
}
header .pad .mid ul li a{
	 color: #ffffff;
}
header .yc{
	width: 100%;
	height: 44px;
	background-color:#e04f67;
	font-size: 14px;
	text-align: center;
	line-height: 44px;
	color: #ffffff;
	
}
header .yc{
	display: none;
}
header .wenzi1{
        width: 100%;
        height: 48px;
      /*   background: red; */
        font-size:36px;
        color: white;
        text-align: center;
        margin-top: 130px;

}
header .wenzi2{
    width: 100%;
    height: 34px;
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    color: #fff;
}
header .zz{
	height: 264px;
}
.join{
	width: 510px;
	height: 290px;
/* 	background-color: brown; */
	margin: 0 auto;
	margin-top: 50px;
	border: 1px solid #eeeeee;
	position: relative;
}
.join .line{
	width: 470px;
	height: 1px;
	background-color: #eeeeee;
	position: absolute;
	top: 144px;
	left: 20px;
}
.join .top{
	width: 100%;
	height: 145px;
/* 	background-color: red; */
	display: flex;
	justify-content: space-around;
}
.join .top .left{
	width: 210px;
	height: 100%;
	/* background-color: pink; */
}
.join .top .left .one{
	width: 100%;
	height: 60px;
	/* background-color: red; */
	color: #333;
	font-size: 12px;
	line-height: 60px;
	padding-left: 20px;
	cursor: pointer;
}
.join .top .left .two{
	width: 100%;
	height: 85px;
	/* background-color: brown; */
	color: #333;
	font-size: 12px;
	/* line-height: 80px; */
	padding-left: 20px;
	padding-top: 5px;
	cursor: pointer;
}
.join .top .right{
	width: 300px;
	height: 100%;
	/* background-color: yellow; */
}
.join .top .right .one{
	width: 100%;
	height: 58px;
	/* background-color: yellow; */
	padding-right: 8px;
	padding-top: 15px;

}
.join .top .right .one input{
	width: 284px;
	height: 30px;
	line-height: 80px;
	font-size: 13px;
	background-color: #f5f5f5;
	color: #333;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
	padding-left: 8px;


}
.join .top .right .two{
	width: 100%;
	height: 87px;
	/* background-color: pink; */
	padding-right: 8px;
	padding-top: 2px;
	/* padding-bottom: 31px; */
}
.join .top .right .two input{
	width: 284px;
	height: 30px;
	line-height: 80px;
	font-size: 13px;
	background-color: #f5f5f5;
	color: #333;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
	padding-left: 8px;
	position: relative;


}
.join .top .right .two .aaa{
	width: 18px;
	height: 18px;
	margin-top: 20px;

}
.join .top .right .two i{
	font-size: 12px;
	color: #888888;
	position: absolute;
	bottom: 162px;

}
.join .then{
	width: 100%;
	height: 145px;
	/* background-color: pink; */
	padding: 0 20px;
}
.join .then .one{
	width: 100%;
	height: 70px;
	/* background-color: red; */
	padding-top: 20px;

}
.join .then .one .fox1{
	width: 45px;
	height: 30px;
	border: 1px solid #eeeeee;
	background-color: #000000;
	color: white;
	font-size: 13px;
	text-align: center;
	line-height:30px;
	border-radius: 3px;
	box-shadow: inset 0 1px #000;
	margin-right: 15px;
	float: left;
}
.join .then .one .fox1 a{
	color: white;
}
.join .then .one .fox1 a:hover{
	text-decoration: none;
}
.join .then .one .fox2{
	width: 45px;
	height: 30px;
	border: 1px solid #f5f5f5;
	background-color: white;
	color: #333;
	font-size: 13px;
	text-align: center;
	line-height:30px;
	border-radius: 3px;
	box-shadow: inset 0 1px #f5f5f5;
	/* margin-right: 15px; */
	float: left;
}
.join .then .one .fox2 a{
	color: #333;
}
.join .then .one .fox2 a:hover{
	text-decoration: none;
}
.join .then .two{
	width: 100%;
	height: 40px;
	/* background-color: yellow; */
	font-size: 13px;
	color: #888888;
	position: relative;

}
.join .then .two .first{
	width: 24px;
	height: 24px;
	/* background-color: red; */
	/* float: left; */
	position: absolute;
	left: 75px;
	top: 0;
	background-image: url('../img/tubiao2.png');
	/* background-size: -50px 50px; */
	background-position: -49px -48px;
	
}
.join .then .two .second{
	width: 24px;
	height: 24px;
	/* background-color: green; */
	/* float: left; */
	position: absolute;
	top: 0;
	left: 105px;
	background-image: url('../img/tubiao2.png');
	background-position: 0 -48px;
	
}
.join .then .three{
	width: 100%;
	height: 35px;
	/* background-color: brown; */
	text-align: right;
	
}
.join .then .three a{
	color: #333;
	font-size: 12px;

}
.tex{
	width: 510px;
	/* height: 185px; */
	/* background-color: pink; */
	margin: 0 auto;
	padding-top: 42px;
	}
.text span{
	color: rgb(102, 102, 102);
	font-size: 16px;
	font-weight: 700;
}
.tex h6{
	color: rgb(102, 102, 102);
	font-size: 14px;
	/* line-height: 1.6px; */
	line-height: 20px;
}
.tex h6 i{
	color: red;
}
.tex h5{
	color: rgb(102, 102, 102);
	font-size: 14px;
	/* line-height: 1.6px; */
}
.tex h5 i{
	color: red;
}
.tex h4{
	color: red;
	font-size: 14px;
	/* line-height: 1.6px; */
}
footer{
	width: 100%;
	height: 182px;
	/* background-color: pink; */
	margin-top: 60px;
	padding-left:310px;
	/* display: flex;
	justify-content: space-between; */
}
footer ul li{
	width: 185px;
	height: 158px;
	/* background-color: orange; */
	margin-right: 10px;
	float: left;
}
footer ul li:nth-child(1) span{
	color: #808080;
	font-size: 20px;
	font-weight: 700;
}
footer ul li:nth-child(1) h6{
	color: #A9A9A9;
	font-size: 14px;
	font-weight: 700;
}
footer ul li dt{
	color: #808080;
	font-size: 100%;
	margin-top: 5px;
	margin-bottom: 25px;
}
footer ul li dd{
	color:#A9A9A9;
	font-size: 13px;
	margin-bottom: 8px;

}
footer ul li:nth-child(3){
	padding-top: 50px;
}
footer ul li:nth-child(4){
	color: #808080;
	/* font-size: 16px; */
}
footer ul li:nth-child(4) h6{
	font-size: 14px;
}
footer ul li:nth-child(4) img{
	width: 112px;
	height: 112px;
	margin-top: 20px;
}
footer ul li:nth-child(5) dd{
	width: 24px;
	height: 24px;
	/* background-color: yellow; */
	float: left;
	margin-right: 8px;
}
footer ul li:nth-child(5) .section1{
	background-image: url('../img/tubiao2.png');
	background-position: -96px -48px;

}
footer ul li:nth-child(5) .section2{
	background-image: url('../img/tubiao2.png');
	background-position: -192px -48px;

}
footer ul li:nth-child(5) .section3{
	background-image: url('../img/tubiao2.png');
	background-position: -240px -48px;

}
footer ul li:nth-child(5) .section4{
	background-image: url('../img/tubiao2.png');
	background-position: -120px -48px;

}
/* header .pad .rig  img{
	width: 15px;
	height: 15px;
	position: absolute;
	bottom: 15px;
	right: 350px;
} */
@media screen and (max-width: 1200px){
		header .yc{
			display: none;
		}	
		}
@media screen and (max-width: 992px){
	.pad{
		display: none;
	}
	header .yc{
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 500;
	}
	header{
		height: 264px;
		background-image: url('../img/dl.jpg');
		background-position: center 20px ;
		background-size: cover;
	}
	.tex{
		width: 768px;
	}
	footer{
		padding-left: 20px;
		margin-top: 100px;
	}

	footer ul li{
		clear: both;
	}
	
	footer ul li:nth-child(1){
		height: 78px;
	}
	footer ul li:nth-child(5){
		width: 100%;
		padding-top: 20px;
		height: 78px;
	}
	footer ul li:nth-child(5) .con{
		width: 130px;
		height: 30px;
		margin: 0 auto;
	}
	header .wenzi1{
		height: 42px;
		font-size: 20px;
		margin-top: 130px;
	}
}
	@media screen and (max-width: 768px){
		}	