/*
* @Author: 18634746074
* @Date:   2018-09-02 16:26:50
* @Last Modified by:   18634746074
* @Last Modified time: 2018-09-08 16:44:15
*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "苹方";
}
a{
    text-decoration: none;
}
i{
    font-style: normal;
}
a:hover{
    text-decoration: none;
}
header{
    width: 100%;
    height: 264px;
    background-image: url('../img/lxwm.jpg');
    background-position:center ;
    background-size: cover;
    position: relative;
    overflow: hidden;

}
header .zz{
    width: 100%;
    height: 264px;
    background:rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}
header .pad{
    width: 100%;
    height: 92px;
    /* padding:0  150px; */
    /* background-color: red; */
    position: relative;
}
header .pad img{
    width: 159px;
    height: 64px;
    /* position: absolute;
    bottom: 15px;
    left: 150px; */
    margin-left: 150px;
    margin-top: 15px;
}
header .pad .mid{
    float: left;
    height: 28px;
    /* width: 910px; */
    /* background:yellow; */
    margin-left: 311px;
    position: absolute;
    bottom:22px;

}
header .pad .mid ul li{
    font-size: 14px;
    color: #ffffff;
    line-height: 28px;
    float: left;
    margin-left: 50px;
    cursor: pointer;

}
header .pad .rig{
    width: 150px;
    height: 28px;
    /* background-color: pink; */
    float: right;
    margin-top: 46px;
    color: #ffffff;
    font-size: 14px;
    position: relative;
    margin-right: 160px;
    /* padding: 0 20px; */
}
header .pad .rig .pic1{
    width: 18px;
    height:18px;
    background-image: url('../img/dl.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 2px;
    left: 40px;
}
header .pad .rig .pic2{
    width: 16px;
    height:16px;
    background-image: url('../img/zc.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 2px;
    right:30px;
}
header .pad .rig ul li{
    float: right;
    margin-left: 18px;
    cursor: pointer;

}
header .pad .rig ul li a{
    color: #fff;
}
header .pad .mid ul li a{
    color: #ffffff;
}
header .pad .mid ul li a:hover{
    color: rgb(242, 117, 103);
}
header .pad .rig ul li a:hover{
    color: rgb(242, 117, 103);
}
header .yc{
    width: 100%;
    height: 44px;
    background-color:#e04f67;
    font-size: 14px;
    text-align: center;
    line-height: 44px;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;

}
header .pad{
    display: none;
}
 header .wenzi1{
        width: 100%;
        height: 42px;
      /*   background: red; */
        font-size:36px;
        color: white;
        text-align: center;
        margin-top: 130px;

}
header .wenzi2{
    width: 100%;
    height: 34px;
    font-size:20px;
    text-align: center;
    line-height: 34px;
    color: #fff;
    margin-top: 10px;
}
.dt{
	width: 100%;
	background-color:#f9f9f9;
	padding-top: 50px;
}
.dt .box{
	width: 768px;
	/* background-color: yellow; */
	margin: 0 auto;
  
}
.dt .box .mapp{
	width: 100%;
	height: 425px;
	/* background-color: red; */
	/* background-image: url('../img/lxwmmap.png'); */
	/* background-position: center;
	background-size: cover; */
  
}
.dt .box .write{
	width: 100%;

}
.dt .box .write .wenzi1{
	width: 100%;
	height: 32px;
	/* background-color: blue; */
	margin-bottom: 45px;
	position: relative;
}
.dt .box .write .wenzi1 h5{
	font-size: 20px;
	color: #808080;
}
.dt .box .write .wenzi1 span{
	font-size: 14px;
	color:rgb(169, 169, 169);
	position: absolute;
	top: 3px;
	left: 85px;
}
.dt .box .write ul li{
	width: 100%;
	height: 25px;
	margin-top: 10px;
	/* background-color: green; */
	font-size: 13px;
	color: rgb(169, 169, 169);
}
.dt .box .write .wenzi2{
	width: 100%;
	height: 32px;
	margin-top: 45px;
	/* background-color: purple; */
	position: relative;
}
.dt .box .write .wenzi2 h5{
	font-size: 20px;
	color: #808080;
}
.dt .box .write .wenzi2 span{
	font-size: 14px;
	color:rgb(169, 169, 169);
	position: absolute;
	top: 3px;
	left: 85px;
}
.dt .box .write .wenzi3{
	width: 100%;
	height: 25px;
	/* background-color: brown; */
	margin-top: 10px;
	font-size: 13px;
	color: rgb(169, 169, 169);
}
footer{
    width: 100%;
    height: 182px;
    background-color: #fff;
    margin-top: 100px;
    padding: 0 10px;
    /* display: flex;
    justify-content: space-between; */
}
footer ul li{
    width: 195px;
    height: 158px;
    /* background-color: orange; */
    /*margin-right: 10px;*/
    /*float: left;*/
    padding-left: 20px;
    margin-top: 20px;
}
footer ul li:nth-child(1){
    height: 58px;

}
footer ul li:nth-child(1) span{
    color: #808080;
    font-size: 20px;
    font-weight: 700;
}
footer ul li:nth-child(1) h6{
    color: #A9A9A9;
    font-size: 14px;
    font-weight: 700;
}
footer ul li dt{
    color: #808080;
    font-size: 100%;
    margin-top: 5px;
    margin-bottom: 25px;
    cursor: pointer;
}
footer ul li dd{
    color:#A9A9A9;
    font-size: 13px;
    margin-bottom: 8px;
    cursor: pointer;
}
footer ul li dd:hover{
    color: #ff6700;
}
footer ul li:nth-child(3){
    padding-top: 50px;
}
footer ul li:nth-child(4){
    color: #808080;
    /* font-size: 16px; */
}
footer ul li:nth-child(4) h6{
    font-size: 14px;
}
footer ul li:nth-child(4) img{
    width: 112px;
    height: 112px;
    margin-top: 20px;
}
footer ul li:nth-child(5){
    width: 100%;
    /* margin: 0 auto; */
    padding-top: 20px;
    /*padding-left: 368px;*/
    height: 68px;
}
footer ul li:nth-child(5) .con{
    width: 130px;
    height: 30px;
    margin: 0 auto;
}
footer ul li:nth-child(5) dd{
    width: 24px;
    height: 24px;
    /* background-color: yellow; */
    float: left;
    margin-right: 8px;
}
footer ul li:nth-child(5) .section1{
    background-image: url('../img/tubiao2.png');
    background-position: -96px -48px;

}
footer ul li:nth-child(5) .section2{
    background-image: url('../img/tubiao2.png');
    background-position: -192px -48px;

}
footer ul li:nth-child(5) .section3{
    background-image: url('../img/tubiao2.png');
    background-position: -240px -48px;

}
footer ul li:nth-child(5) .section4{
    background-image: url('../img/tubiao2.png');
    background-position: -120px -48px;

}
.fix{
    width: 54px;
    height: 270px;
    background: #9b9b9b;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 999;
}
.fix ul li{
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    cursor: pointer;
}
/* .fix ul li:nth-child(1){
    background-image: url('../img/back.png');
    background-size: cover;
    background-position: 35px 32px;
} */
.fix ul li:hover{
    background:rgb(242, 117, 103);
}
.fix ul li:nth-child(3){
    background-color: rgb(242, 117, 103);
}
.fix ul li i{
   
    font-size: 30px;
    color: white;
}
@media screen and (min-width: 768px){
}
@media screen and (min-width: 992px){
	 header .yc{
        display: none;
    }
    header{
        height: 420px;
        background-image: url('../img/lxwm.jpg');
        background-position: center;
        background-size: cover;
      /*   background: rgba(0,0,0,0); */

    }
    header .zz{
        height: 420px;
    }
    header .pad{
        display: inline;
        float: left;

    }
    header .wenzi1{
        width: 100%;
        height: 48px;
        font-size:36px;
        color: #fff;
        text-align: center;
        margin-top: 190px;

    }
    header .wenzi2{
        height: 34px;
    }
    .dt{
    	background-color:#f9f9f9;
    	overflow: hidden;

    }
    .dt .box{
	width:1024px;
	overflow: hidden;
	padding-bottom: 100px;
	padding-top: 50px;
    display: flex;
}
.dt .box .mapp{
	width: 642px;
	float: left;
	/* background-image: url('../img/lxwmmap1.png');
	background-position: center;
	background-size: cover; */
}
.dt .box .write{
	width: 382px;
	height: 425px;
	float: left;
	/* background-color: pink; */
	padding-left: 45px;
}
/* .dt .box .write .wenzi1{
	margin-bottom: 0;
} */
.dt .box .write ul li{
	margin-top: 0;
}
.dt .box .write .wenzi2{
	margin-bottom: 20px;
	margin-top: 20px;
}
.dt .box .write .wenzi3{
	margin-top: 0;
}
  footer{
    margin-top:20px;
    padding:0 290px;


    }
   /*  footer ul{
        overflow: hidden;
    } */
    footer ul li{
       float: left;
    }
    footer ul li:nth-child(1){
        height: 158px;
    }
    footer ul li:nth-child(5){
        width:158px;
        padding-left: 0;
    }


@media screen and (min-width: 1200px){
}